@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONT DECLARATIONS */

@font-face {
  font-family: Edu;
  src: url('../public/static/fonts/EduNSWACTFoundation-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Thiccboi;
  src: url('../public/static/fonts/THICCCBOI-Medium.woff2') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: Thiccboi;
  src: url('../public/static/fonts/THICCCBOI-SemiBold.woff2') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: Thiccboi;
  src: url('../public/static/fonts/THICCCBOI-Bold.woff2') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: Thiccboi;
  src: url('../public/static/fonts/THICCCBOI-ExtraBold.woff2') format('opentype');
  font-weight: 800;
}

html {
  font-weight: 500;
}

p,
li {
  font-size: 1.2rem;
}

/* hides backticks  */
.prose code::before,
.prose code::after {
  content: none !important;
}

/* Italic text  */
.prose em {
  font-family: 'Edu', cursive;
  font-size: 1.2rem;
  color: #f65e69;
}

.bold-underline {
  font-weight: 700;
  font-size: 1.1rem;
  color: #f3f4f6;
  text-decoration: underline;
  text-decoration-color: #38b2ac;
  text-decoration-thickness: 4px;
  text-underline-offset: 3px;
}

/* tasks */
.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* Ordered List Styles  */
/* ol {
  list-style: none !important;
  counter-reset: list-counter;
  padding-left: 0;
}

ol > li {
  counter-increment: list-counter;
  position: relative;
  margin-top: 10px;
}

ol > li::before {
  content: counter(list-counter);
  position: absolute;
  left: -25px;
  top: 2px;
  background: rgb(236, 172, 69, 0.75);
  color: #181818;
  font-size: large;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}

ol > li ul li {
  margin-bottom: 5px;
} */

/* Unordered list styles  */

ul {
  list-style: none !important;
  padding-left: 0;
}

/* All unordered lists in posts will be styled with arrows. Use `no-arrow` class to exclude UI elements */

ul > li:not(.no-arrow) {
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
}

ul > li:not(.no-arrow)::before {
  content: '\279C'; /* This is the unicode for the arrow symbol */
  color: #2dd4bf !important;
  position: absolute;
  left: -10px;
  top: 0;
  color: inherit;
}

/* Ordered list headings */

h2 .list-heading {
  position: relative;
  padding-left: 35px;
}

h2 .list-heading::before {
  content: counter(h2-counter);
  counter-increment: h2-counter;
  position: absolute;
  left: -5px;
  top: 2px;
  background: rgb(236, 172, 69, 0.75);
  color: #0c0b0b;
  font-size: large;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}

/* Optional: Reset the counter at the start of a new section or container */
.section {
  counter-reset: h2-counter;
}

.no-code-bg code {
  background-color: transparent !important;
}

/* Custom details/summary and element/option styles for Webflow  */

.element {
  /* color: #f3f4f6; */
  color: #0c0b0b;
  background-color: #2dd4bf;
  font-weight: 800;
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
}

.option {
  color: #f3f4f6;
  background-color: #f65e69;
  font-weight: 800;
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
}

details {
  margin-bottom: 1rem;
  /* background-color: rgb(0, 0, 0, 0.7) !important; */
  /* color: #f3f4f6 !important; */
  border-radius: 5px !important;
}

summary {
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 5px !important;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

details summary::before {
  content: '▶ ';
  color: rgb(236, 172, 69);
}

details[open] summary::before {
  content: '▼ ';
  color: rgb(236, 172, 69);
}
